

<div class="col-md-12 text-center">
  <h3>Editar Proyecto</h3>
  <hr>
</div>

<div class="col-md-6 offset-md-3">

  <form method="POST" action="/projects/edit/<%= @project.id %>">

    <div class="form-group">
      <label>Nombre</label>
      <input class="form-control" name="project[name]" type="text" value="<%= @project.name %>" required>
    </div>

    <div class="form-group">
      <label>Categoria</label>
      <select class="form-control" name="project[category]">

        <% Project.categories.map do |key, value| %>
          <% is_selected = @project.category == key %>
          <option value="<%= key %>" <%= 'selected' if is_selected %> ><%= key.upcase %></option>
        <% end %>
      </select>
    </div>

    <div class="form-group">
      <label>Estado</label>
      <select class="form-control" name="project[status]">
        <% Project.statuses.map do |key, value| %>
          <% is_selected = @project.status == key %>
          <option value="<%= key %>" <%= 'selected' if is_selected %> ><%= key.upcase %></option>
        <% end %>
      </select>
    </div>

    <div class="form-group">
      <label>Financiamiento</label>
      <input class="form-control" name="project[funding]" type="number" value="<%= @project.funding %>" required>
    </div>

    <div class="form-group">
      <label>Fecha Inicio</label>
      <input class="form-control" name="project[start_date]" type="date" value="<%= @project.start_date %>" required>
    </div>

    <div class="form-group">
      <label>Fecha Termino</label>
      <input class="form-control" name="project[end_date]" type="date" value="<%= @project.end_date %>" required>
    </div>

    <div class="form-group">
      <label>Descripcion</label>
      <input class="form-control" name="project[description]" type="text" value="<%= @project.description %>">
    </div>


    <div class="text-center">
      <a href="/projects" class="btn btn-secondary">Volver</a>
      <button type="submit" class="btn btn-primary">Editar Solicitud</button>

    </div>
  </form>
</div>
<br><br><br><br><br><br><br>
